@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  font-size: 1rem; }

section {
  padding: 4rem 0; }
  section .section-title {
    text-align: center;
    margin-bottom: 4rem; }

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem; }

.container {
  width: 75%;
  max-width: 960px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }

nav {
  position: fixed;
  background-color: #2D2E32;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 100;
  transition: all ease-in-out 1s; }
  nav .container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0; }
    nav .container .menu a {
      margin-right: 1rem; }
    nav .container .social-links a {
      margin-right: 1rem; }

.hero {
  position: relative;
  height: 95vh;
  width: 100%; }
  .hero .hero-img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end; }
    .hero .hero-img img {
      height: 90%; }
  .hero .hero-content {
    position: absolute;
    width: 50%;
    height: 80%;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem; }
    .hero .hero-content .content-main {
      height: 100%;
      display: flex;
      align-items: center; }
      .hero .hero-content .content-main div a {
        display: inline-block;
        margin-top: 2rem; }
        .hero .hero-content .content-main div a:hover::after {
          content: ' >'; }
    .hero .hero-content .content-bottom {
      display: flex;
      gap: 1rem; }

.experience-info .xp-number {
  display: inline;
  font-family: "Ubuntu Mono", monospace;
  font-size: 2.5rem; }

.experience-info .xp-description {
  display: inline-block;
  width: 5rem;
  font-family: "Open Sans", sans-serif;
  font-size: .75rem; }

.tag {
  display: inline;
  background-color: #64F5AC;
  color: #25262A;
  padding: .5rem;
  font-family: "Ubuntu Mono", monospace; }

.tab {
  display: flex;
  gap: 3rem; }
  .tab .tab-links {
    flex: 2; }
    .tab .tab-links .card {
      background-color: #2D2E32;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      /*
            &:hover .card-header {
                color: $color-accent-green;
            }
            */ }
      .tab .tab-links .card.active .card-header {
        color: #64F5AC; }
      .tab .tab-links .card .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .tab .tab-links .card .card-header i {
          font-size: 1.5rem; }
      .tab .tab-links .card .card-body {
        color: #92949D; }
  .tab .tab-contents {
    flex: 3; }
    .tab .tab-contents .tab-content {
      display: none; }
      .tab .tab-contents .tab-content.active {
        display: block; }

.accordion {
  margin: 1rem 0; }
  .accordion .accordion-item {
    margin-bottom: 1rem; }
    .accordion .accordion-item .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #2D2E32;
      padding: .5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer; }
    .accordion .accordion-item .accordion-body {
      display: none;
      padding: .5rem 1rem; }
      .accordion .accordion-item .accordion-body ul {
        margin-left: 1rem; }
        .accordion .accordion-item .accordion-body ul li {
          margin-bottom: 1rem; }
          .accordion .accordion-item .accordion-body ul li b {
            margin-bottom: .75rem; }
    .accordion .accordion-item.active i {
      color: #64F5AC; }
    .accordion .accordion-item.active .accordion-body {
      display: block; }
      .accordion .accordion-item.active .accordion-body li {
        color: #64F5AC; }

pre {
  display: block;
  background-color: #2D2E32;
  color: #F2F2F2;
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  white-space: pre-wrap;
  margin: 24px 0;
  padding: .5em 0;
  overflow-y: auto;
  tab-size: 2;
  counter-reset: line; }

pre.line-number span {
  display: block;
  line-height: 0; }

pre.line-number span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .8em;
  margin-right: .5em;
  width: 1em;
  color: #888; }

pre.code-array-list.with-title span:not(:first-child):not(:last-child):not(:nth-child(2)):after {
  content: ',';
  color: #64F5AC; }

pre.code-array-list.with-title span:nth-child(2), pre.code-array-list.with-title span:last-child {
  color: #64F5AC; }

.card-project {
  background-color: #25262A;
  border-radius: 0.5rem; }
  .card-project .card-img {
    width: 100%;
    height: 16rem; }
    .card-project .card-img img {
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .5; }
  .card-project:hover .card-img img {
    opacity: .9; }
  .card-project .card-footer {
    display: flex; }
    .card-project .card-footer .project-info {
      flex: 1;
      padding: .5rem 1rem; }
      .card-project .card-footer .project-info .project-name {
        font-size: 1.2rem;
        font-family: "Ubuntu Mono", monospace; }
      .card-project .card-footer .project-info .project-company {
        font-size: .75rem;
        font-family: "Open Sans", sans-serif;
        color: #92949D; }
    .card-project .card-footer .project-more {
      font-family: "Ubuntu Mono", monospace;
      background-color: #64F5AC;
      color: #2D2E32;
      height: 50px;
      line-height: 50px;
      text-align: center;
      padding: 0 1rem;
      border-end-end-radius: 0.5rem;
      cursor: pointer; }

.modal-container {
  display: flex;
  background-color: rgba(45, 46, 50, 0.9);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  pointer-events: none;
  opacity: 0; }
  .modal-container .modal {
    background-color: #25262A;
    width: 80%;
    max-width: 100%;
    height: 80%;
    max-width: 100%;
    margin: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 3fr 2fr; }
    .modal-container .modal .modal-body {
      padding: 2rem 3rem 4rem 3rem;
      overflow: hidden; }
      .modal-container .modal .modal-body .modal-header {
        text-align: right;
        margin-bottom: 1rem; }
        .modal-container .modal .modal-body .modal-header i:hover {
          color: #64F5AC;
          cursor: pointer; }
      .modal-container .modal .modal-body .project-info {
        height: 100%;
        overflow: auto; }
        .modal-container .modal .modal-body .project-info .project-name {
          font-family: "Ubuntu Mono", monospace;
          font-size: 1.75rem; }
        .modal-container .modal .modal-body .project-info .project-company {
          font-family: "Open Sans", sans-serif;
          color: #92949D;
          margin-bottom: 1rem; }
        .modal-container .modal .modal-body .project-info .project-description p {
          margin-bottom: .5rem; }
        .modal-container .modal .modal-body .project-info .list-technologies {
          margin-top: 1rem; }
          .modal-container .modal .modal-body .project-info .list-technologies ul {
            margin-top: .75rem;
            list-style: none;
            font-family: "Ubuntu Mono", monospace; }
            .modal-container .modal .modal-body .project-info .list-technologies ul li {
              margin-bottom: .5rem;
              margin-left: 1.2rem;
              color: #C5C5C5; }
              .modal-container .modal .modal-body .project-info .list-technologies ul li::before {
                content: "\2022";
                color: #64F5AC;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em; }
  .modal-container.show {
    pointer-events: auto;
    opacity: 1; }

.btn-primary {
  font-family: "Ubuntu Mono", monospace;
  background-color: #64F5AC;
  padding: .6rem .75rem;
  border: 0;
  border-radius: 0.5rem;
  color: #25262A;
  font-size: 1rem;
  cursor: pointer; }

.carousel-gallery {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  row-gap: 30px;
  cursor: n-resize;
  padding: 2rem 0;
  margin-left: 2.5rem; }
  .carousel-gallery::-webkit-scrollbar {
    display: none; }
  .carousel-gallery img {
    width: 100%;
    border-radius: 0.5rem; }

::-webkit-scrollbar {
  background-color: #25262A;
  width: .75rem; }

::-webkit-scrollbar-thumb {
  background-color: #64F5AC;
  border-radius: 0.5rem; }

body {
  background-color: #2D2E32;
  color: #C5C5C5; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400; }

h1 {
  font-size: 2.5rem;
  margin: 1rem 0; }

h2 {
  font-size: 2rem;
  margin: 1rem 0; }

h3 {
  font-size: 1.75rem;
  margin: .75rem 0; }

h4 {
  font-size: 1.5rem;
  margin: .5rem 0; }

h5 {
  font-size: 1.25rem;
  margin: .25rem 0; }

a {
  color: #F2F2F2; }
  a:hover, a.active {
    color: #64F5AC; }

p, b, .paragraph {
  color: #C5C5C5;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem; }

small {
  font-family: "Open Sans", sans-serif;
  font-size: .75rem; }

.bg-primary {
  background-color: #25262A; }

.bg-neutro {
  background-color: #2D2E32; }

.color-accent-green {
  color: #64F5AC; }

.color-paragraph-gray {
  color: #C5C5C5; }

.color-title {
  color: #F2F2F2; }
