$color-primary: #25262A;
$color-neutro: #2D2E32;
$color-neutro-light: #92949D;
$color-accent-green: #64F5AC;
$color-accent-orange: #FD5050;
$color-accent-violet: #6372F2;

$color-text: #F2F2F2;
$color-text-paragraph: #C5C5C5;

$font-family-titles: 'Ubuntu Mono', monospace;
$font-family-paragraph: 'Open Sans', sans-serif;

$border-radius: .5rem;