.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    //max-width: 960px;
    //min-width: 320px;
    
    @include breakpoint(large) {
        width: 75%;
    }
}

section {
    padding: 2rem 0;

    .section-title {
        text-align: center;
        margin-bottom: 4rem;
    }

    @include breakpoint(large) {
        padding: 5rem 0;
    }
}

.grid-projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    
    @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
    }
}

.contact {
    text-align: center;

    p {
        max-width: 540px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-links {
        margin: 3rem 0;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer-simple {
    text-align: center;
    padding-bottom: 3rem;
    background-color: $color-primary;
    font-family: $font-family-titles;
}
