nav {
    position: fixed;
    background-color: $color-accent-green-dark;
    width: 100vw;
    color: $color-text;
    z-index: $nabvar-index;

    height: 100vh;
    clip-path: circle(4rem at 100vw 0);
    transition: clip-path .5s;
    transition: all ease-in-out 1s;

    .menu-mobile {
        position: absolute;
        cursor: pointer;
        right: 1rem;
        top: .75rem;
        color: $color-primary;
        //font-size: 1.5rem;

        i {
            
            &.icon-burger-open {
                display: block;
            }
            
            &.icon-burger-close {
                display: none;
            }

            svg {
                fill: $color-primary;
            }
        }

    }

    &.animate {
        clip-path: circle(200% at 100vw 0);
        
        .menu-mobile i {
            &.icon-burger-open {
                display: none;
            }
            &.icon-burger-close {
                display: block;
            }
        }
    }

    .container {
        height: 100vh;
        .main-menu {
            display: flex;
            justify-content: space-between;

            padding: 5rem 0;
            text-align: center;
            flex-direction: column;
            height: 100%;
            
            .menu {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                font-size: 2rem;

                a {
                    color: $color-primary;
                    &:hover {
                        color: $color-accent-green;
                    }
                }
            }

            .social-links {
                display: flex;
                justify-content: center;
                gap: 2rem;

                a {
                    color: $color-primary;
                    &:hover {
                        color: $color-accent-green;
                    }
                }
            }

        }
    }

    @include breakpoint(large) {
        background-color: $color-neutro;
        justify-content: center;
        //transition: all ease-in-out 1s;

        height: 4rem;
        clip-path: none;

        .menu-mobile {
            display: none;
        }

        .container {
            height: 100%;
            .main-menu {
                padding: 0;
                text-align: left;
                margin: 1.5rem 0;
                flex-direction: row;
                
                .menu {
                    flex-direction: row;
                    gap: .75rem;
                    font-size: 1rem;

                    a {
                        margin-right: 1rem;
                        color: $color-text;
                    }
                }
        
                .social-links a {
                    margin-left: 1rem;
                    color: $color-text;
                }
            }
        }
    }
}