.container {
    width: 75%;
    max-width: 960px;
	min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: fixed;
    background-color: $color-neutro;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: $nabvar-index;
    transition: all ease-in-out 1s;
    //box-shadow: 0 .1rem .5rem $color-primary;

    .container {
        flex: 1;
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0;

        .menu a {
            margin-right: 1rem;
        }

        .social-links a {
            margin-right: 1rem;
        }
    
    }
}