.accordion {
    margin: 1rem 0;

    .accordion-item {

        margin-bottom: 1rem;

        .accordion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-neutro;
            padding: .5rem 1rem;
            border-radius: $border-radius;
            cursor: pointer;
        }

        .accordion-body {
            margin: .5rem 1rem;
            //display: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height .4s ease-in-out;
            

            ul {
                margin-left: 1rem;

                li {
                    margin-bottom: 1rem;
                    
                    b {
                        margin-bottom: .75rem;
                    }
                }
            }
        }

        &.active {

            i {
                color: $color-accent-green;
            }

            .accordion-body {
                //display: block;
                max-height: 430px;
                
                li {
                    color: $color-accent-green;
                }
            }

        }
    }
}
