.btn-contact-link {
    padding: 1rem 1.5rem;
    font-family: $font-family-titles;
    background-color: $color-neutro;
    border-radius: $border-radius;
    color: $color-text-paragraph;
    &:hover {
        border-color: $color-accent-green;
    }

    i {
        margin-right: .2rem;
    }

}