.carousel-gallery {
    height: 100%;
    display: flex;
    overflow-y: auto;
    gap: 30px;
    cursor: n-resize;
    padding: 1.5rem 1rem;
    
    &::-webkit-scrollbar {
        display: none;
    }

    img {
        border-radius: $border-radius;
        width: 100%;
        height: auto;
    }
    
    @include breakpoint(medium) {
        flex-direction: column;
        margin-left: 2.5rem;
        padding: 2rem 0;
        
        img {
            width: 100%;
        }
    }
}