.modal-container {
    display: flex;
    background-color: rgba($color-neutro, .9);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: $modal-index;

    pointer-events: none;
    opacity: 0;

    .modal {
        background-color: $color-primary;
        width: 80%;
        max-width: 100%;
        height: 80%;
        max-width: 100%;
        margin: 1rem;
        border-radius: $border-radius;
        
        display: grid;
        grid-template-columns: 3fr 2fr;
        
        .modal-body {
            
            padding: 2rem 3rem 4rem 3rem;
            overflow: hidden;

            .modal-header {
                text-align: right;
                margin-bottom: 1rem;
                
                i:hover {
                    color: $color-accent-green;
                    cursor: pointer;
                }
            }

            .project-info {
                height: 100%;
                overflow: auto;
                
                

                .project-name {
                    font-family: $font-family-titles;
                    font-size: 1rem * 1.75; //h3
                }

                .project-company {
                    font-family: $font-family-paragraph;
                    color: $color-neutro-light;
                    margin-bottom: 1rem;
                }

                .project-description p {
                    margin-bottom: .5rem;
                }
                
                .list-technologies {
                    margin-top: 1rem;

                    ul {
                        margin-top: .75rem;
                        list-style: none;
                        font-family: $font-family-titles;
                        
                        li {
                            margin-bottom: .5rem;
                            margin-left: 1.2rem;
                            color: $color-text-paragraph;
                            
                            &::before {
                                content: "\2022";
                                color: $color-accent-green;
                                font-weight: bold;
                                display: inline-block; 
                                width: 1em;
                                margin-left: -1em;
                            }
                        }

                    }
                }

            }
        }
    }

    &.show {
        pointer-events: auto;
        opacity: 1;
    }
}